.game {
  width: 600px;
  height: 225px;
  border: 1px solid black;
  margin: auto;
  position: relative; /* Ensure child elements are positioned relative to this container */
}

#cat {
  width: 55px; /* New width */
  height: 27px; /* New height */
  background-image: url(../../public/images/cat_1.png);
  background-size: contain; /* Maintain aspect ratio */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  position: absolute; /* Use absolute positioning */
  top: 198px; /* Adjust to ensure visibility */
  left: 50px; /* Adjust to ensure visibility */
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 198px;
  }

  30% {
    top: 178px;
  }

  50% {
    top: 148px;
  }

  80% {
    top: 178px;
  }

  100% {
    top: 198px;
  }
}

#cucumber {
  width: 31px; /* New width */
  height: 10px; /* New height */
  background-image: url(../../public/images/cucumber_1.png);
  background-size: contain; /* Maintain aspect ratio */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  position: absolute; /* Use absolute positioning */
  top: 215px; /* Adjust to ensure visibility */
  left: 580px; /* Start position */
  animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -31px; /* Ensure it moves completely off-screen */
  }
}

#cucumber-2 {
  width: 33px; /* New width */
  height: 21px; /* New height */
  background-image: url(../../public/images/cucumber_2.png);
  background-size: contain; /* Maintain aspect ratio */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  position: absolute; /* Use absolute positioning */
  top: 204px; /* Adjust to ensure visibility */
  left: 580px; /* Start position */
  animation: block 1s infinite linear;
}
