.game {
  width: 600px;
  height: 225px;
  border: 3px solid rgb(8, 184, 31);
  border-radius: 15px;
  margin: auto;
  position: relative; /* Ensure child elements are positioned relative to this container */
}

#cat {
  width: 55px; /* New width */
  height: 27px; /* New height */
  background-image: url(../../public/images/cat_1.png);
  background-size: contain; /* Maintain aspect ratio */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  position: absolute; /* Use absolute positioning */
  top: 198px; /* Adjust to ensure visibility */
  left: 50px; /* Adjust to ensure visibility */
}

.jump {
  animation: jump 0.5s linear;
}

@keyframes jump {
  0% {
    top: 198px;
  }

  30% {
    top: 128px;
  }

  50% {
    top: 98px;
  }

  70% {
    top: 128px; 
  }

  100% {
    top: 198px; 
  }
}

.cucumber {
  width: 62px; /* New width */
  height: 20px; /* New height */
  background-image: url(../../public/images/cucumber_1.png);
  background-size: contain; /* Maintain aspect ratio */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  position: absolute; /* Use absolute positioning */
  top: 200px; /* Adjust to ensure visibility */
  left: 538px; /* Start position, game width - cucumber width */
  animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    left: 540px;
  }

  100% {
    left: -5px; /* Ensure it moves completely off-screen */
  }
}

#cucumber-2 {
  width: 33px; /* New width */
  height: 21px; /* New height */
  background-image: url(../../public/images/cucumber_2.png);
  background-size: contain; /* Maintain aspect ratio */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  position: absolute; /* Use absolute positioning */
  top: 204px; /* Adjust to ensure visibility */
  left: 580px; /* Start position */
  animation: block 1s infinite linear;
}
