.header {
  text-align: center;
  padding: 20px;
}

.header-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.header-description {
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 10%;
}

.header-image {
  width: 150px;
  height: auto;
  padding: 20px;
}
