#header {
  text-align: center;
  padding: 20px;
}

#header-title {
  margin-bottom: 10px;
}

.header-description {
  margin-bottom: 10px;
  padding: 10px;
}

.header-image {
  width: 150px;
  height: auto;
  padding: 20px;
}

.header-image:hover {
  content: url("./public/images/cat_logo_shock.svg");
}
  
.header-image-sm {
  width: 80px;
  height: auto;
  padding: 20px;
  margin: 0 10px; 
}


#start-btn-con {
  display: flex;
  align-items: center;
  justify-content: center; 
}

#start-btn {
  /* width: 20%; */
  /* height: 20%; */
  font-size: 150%;
  font-weight: bold;
  background-color: rgb(7,148,75);
  color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  border: 5px solid white;

}
#start-btn:hover {
  background-color: rgb(8, 184, 31);
  border: 5px solid rgb(175, 235, 168);
}

